html, body {
    height: 100%;
    margin: 0px;
}

body {
    background-color: #272737;
    color: #acacc7;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
        font-family: "Ultra", sans-serif;
        font-size: 60px;
        margin: 20px;
        text-align: center;
    }

    #links {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
        padding: 20px;

        a {
            display: inline-block;
            width: 60px;

            text-align: center;
            font-family: "Clarity City", sans-serif;
            text-decoration: none;
            color: #cbcbeb;
            font-size: 16px;

            &:hover {
                text-decoration: underline;
            }

            img {
                max-width: 100%;
            }
        }
    }
}
